<!DOCTYPE html>
<html>

<head>
    <title>Chat</title>
</head>

<body>
    <h1>Chat</h1>
    <div id="chat">
        <input type="text" id="messageInput" placeholder="Ingrese su mensaje">
        <button id="sendMessage">Send</button>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/toastify-js"></script>
    <script src="/socket.io/socket.io.js"></script>
    <script src="/js/chat.js"></script>

</body>

</html>